RewriteCond %{REQUEST_URI} !^/.*\.cf(m|ml)/.*
RewriteCond %{REQUEST_URI} !^/.*\.(css|js|jpg|jpeg|gif|png|woff|mp3|pdf|svg|ico|bmp|xml|html|htm).*
RewriteCond %{REQUEST_URI} !^/(ws|flex2gateway|flashservices/gateway|messagebroker|lucee|rest|cfide|CFIDE|cfformgateway|jrunscripts)/.*
RewriteCond %{SERVLET_PATH} !-f
RewriteCond %{SERVLET_PATH} !-d

RewriteRule ^(.*) /index.cfm/$1 [NC,QSA]